<?xml version="1.0" encoding="utf-8" standalone="no"?>
<mets OBJID="" TYPE="kopal Submission Information Package" PROFILE="SUB"
	xmlns="http://www.loc.gov/METS/" xmlns:xlink="http://www.w3.org/1999/xlink"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:lmerFile="http://www.ddb.de/LMERfile"
	xmlns:lmerObject="http://www.ddb.de/LMERobject" xmlns:lmerProcess="http://www.ddb.de/LMERprocess"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xsi:schemaLocation="http://www.loc.gov/METS/ http://www.loc.gov/standards/mets/mets.xsd http://www.ddb.de/LMERfile http://www.d-nb.de/standards/lmer/lmer-file.xsd http://www.ddb.de/LMERobject http://www.d-nb.de/standards/lmer/lmer-object.xsd http://www.ddb.de/LMERprocess http://www.d-nb.de/standards/lmer/lmer-process.xsd http://purl.org/dc/elements/1.1/ http://dublincore.org/schemas/xmls/qdc/2003/04/02/dc.xsd">

	<metsHdr CREATEDATE="2006-03-17T16:27:34" RECORDSTATUS="TEST">
		<agent ROLE="ARCHIVIST" TYPE="ORGANIZATION">
			<name>Niedersächsische Staats- und Universitätsbibliothek Göttingen,
				Germany</name>
			<note></note>
		</agent>
	</metsHdr>

	<amdSec ID="AMDSEC">
		<techMD ID="TECHMD-OBJECT">
			<mdWrap ID="TECHMD-OBJECT-MDWRAP" MIMETYPE="text/xml" MDTYPE="OTHER"
				OTHERMDTYPE="lmerObject" LABEL="LMERobject">
				<xmlData>
					<lmerObject:metadataRecordCreator>KOPAL DIAS</lmerObject:metadataRecordCreator>
				</xmlData>
			</mdWrap>
		</techMD>

	</amdSec>

	<fileSec>
		<fileGrp ID="ASSET" ADMID="TECHMD-OBJECT">

		</fileGrp>
	</fileSec>

	<structMap TYPE="ASSET">

		<div ORDER="1" LABEL="File list" TYPE="ASSET">
		</div>

	</structMap>
</mets>